 select {
    min-width: 200px !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    border-radius: 0px !important;
}

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    border-radius: 0px !important;
}

select {
  height: 30px !important;
}

select[multiple] {
  width: 610px !important;
}

select, input[type='text'] {
  padding: 5px 6px !important;
}

label {
    font-weight: normal;
    color: var(--secondary) !important;
    font-size: 13px;
}

textarea {
  max-height: 200px !important;
  min-width: 400px !important;
  max-width: 600px !important;
}

.vTextField, .vUUIDField {
  width: 595px !important;
}

p.file-upload, p.url {
  /* Get the Upload Text & Input to Line Up */
  line-height: 40px !important;
  padding: 0 !important;
}

p.file-upload a, p.url a {
  margin-left: 8px !important;
}

p.file-upload input[type="file"], p.url input[type="url"] {
  margin-left: 8px !important;
  /* Get the Upload Text & Input to Line Up */
  margin-top: 1px !important;
}

input[type="file"] {
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 4px !important;
  padding: 8px 15px !important;
  color: var(--gray1) !important;
  border: 1px solid var(--light-gray) !important;
  background: var(--light-gray) !important;
}

.field-file label {
  /* Get the Upload Text & Input to Line Up */
  padding: 10px 10px 0 0 !important;
}

.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 11px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    color: var(--secondary) !important;
}


.submit-row input.default {
  text-transform: none !important;
}
